@import "@/styles/colors.scss";
@import "@/styles/breakpoints.scss";
@import "@/styles/_variables.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 50px;
  margin-bottom: 25px;
  @include for-size(md) {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  & > h1 {
    text-align: center;
  }

  & > h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    @include for-size(md) {
      font-size: 30px;
      line-height: 42px;
      margin-top: 80px;
      margin-bottom: 100px;
    }
  }
}
