@import "@/styles/breakpoints.scss";
@import "@/styles/_variables.scss";

.container {
  display: flex;
  margin-top: 80px;
  flex-direction: column;

  @include for-size(md) {
    flex-direction: row;
    margin-top: 100px;
  }

  h3 {
    flex-shrink: 0;
    margin-bottom: 30px;
    @include for-size(md) {
      margin-bottom: 0;
      width: 266px;
    }
  }

  .text {
    font-weight: 300;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
    @include for-size(md) {
      font-size: 24px;
      line-height: 40px;
    }
  }
}
