@import "@/styles/colors.scss";
@import "@/styles/breakpoints.scss";
@import "@/styles/_variables.scss";

.container {
  height: 120px;
  margin-bottom: 20px;
  overflow: hidden;
  @include for-size(md) {
    height: 188px;
    margin-bottom: 100px;
  }

  .content {
    width: 100%;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    @include for-size(md) {
      padding: 36px 0;
    }
  }

  .slideItem {
    display: flex;
    white-space: nowrap;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    opacity: 0.4;
    @include for-size(md) {
      font-size: 36px;
      line-height: 48px;
    }

    & + .slideItem {
      margin-top: 16px;
      @include for-size(md) {
        margin-top: 20px;
      }
    }

    span {
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      &::after {
        content: "•";
        color: #fff;
        border-radius: 100%;
        margin: 0 12px;
        @include for-size(md) {
          margin: 0 18px;
        }
      }
    }
  }
}

.slideLeft {
  animation-name: slideLeft;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.slideRight {
  animation-name: slideRight;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slideRight {
  0% {
    transform: translateX(-2500px);
    @include for-size(md) {
      transform: translateX(-3750px);
    }
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-2500px);
    @include for-size(md) {
      transform: translateX(-3750px);
    }
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-2500px);
    @include for-size(md) {
      transform: translateX(-3750px);
    }
  }

  100% {
    transform: translateX(0);
  }
}
