@import "@/styles/base.scss";

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  @include for-size(md) {
    margin-bottom: 48px;
  }

  .imageContainer {
    position: sticky;
    top: 0;
    padding-top: 30px;
    background-color: #fff;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

    .image {
      position: relative;
      width: 320px;
      height: 206px;
      @include for-size(md) {
        width: 600px;
        height: 326px;
      }
      padding: 7px;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05),
        0px 5.4px 5.3px rgba(0, 0, 0, 0.01), 0px 13px 12px rgba(0, 0, 0, 0.01),
        0px 24px 24px rgba(0, 0, 0, 0.02);
      border-radius: 30px;
      transition: all 200ms;

      &:hover {
        .background {
          opacity: 1;
          background: $gradient-light;
          inset: 2px;
          border-radius: 29px;
        }

        .placeholder,
        video {
          transform: scale(0.98);
        }
      }

      .background {
        position: absolute;
        border-radius: 32px;
        z-index: -1;
        opacity: 0;
        transition: all 400ms ease;
        inset: 7px;
      }

      .placeholder {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        background: $grey;
        transition: transform 400ms ease;
      }

      video {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        transition: transform 400ms ease;
        object-fit: cover;
      }

      .button {
        position: absolute;
        right: 15px;
        bottom: 15px;
        padding: 10px 15px;
        backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 100px;
        background-color: rgba($color: #000, $alpha: 0.2);
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        align-items: center;
        transition: background-color 200ms ease;
        @include for-size(md) {
          font-size: 14px;
          right: 20px;
          bottom: 20px;
        }

        svg {
          width: 12px;
          height: 12px;
          margin-left: 5px;
          @include for-size(md) {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    .imageDark {
      background: #282828;
      &:hover {
        background: transparent;

        .background {
          opacity: 0.8;
          background: $gradient-dark;
          inset: 2px;
          border-radius: 30px;
        }
      }
    }
  }

  .content {
    width: 320px;
    @include for-size(md) {
      width: 551px;
    }
    .titleContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 20px 0;
      font-size: 14px;
      line-height: 18px;
      font-weight: bold;
      @include for-size(md) {
        margin: 32px 0;
      }

      .starText {
        display: flex;
        align-items: center;

        svg {
          margin-right: 5px;
        }
      }
    }
    p {
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      word-spacing: 4.5px;
      letter-spacing: 0.7px;
      text-align: justify;
      margin-bottom: 24px;
      @include for-size(md) {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
      }
    }

    ul {
      list-style: disc;
      margin-left: 32px;
      li {
        margin-top: 12px;
      }
    }
  }
}
