@import "@/styles/breakpoints.scss";
@import "@/styles/_variables.scss";

.Container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  @include for-size(lg) {
    padding: 0;
    max-width: 1024px;
  }

  @include for-size(xl) {
    max-width: 1140px;
  }
}
