@import "@/styles/breakpoints.scss";
@import "@/styles/_variables.scss";

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-size: 48px;
  font-weight: 800;

  @include for-size(md) {
    line-height: 96px;
    font-size: 96px;
  }
}

h2 {
  font-size: 28px;
  font-weight: bold;
  @include for-size(md) {
    font-size: 60px;
  }
}

h3 {
  font-size: 28px;
  font-weight: bold;
  white-space: nowrap;
  @include for-size(md) {
    font-size: 36px;
  }
}

h4 {
  font-size: 24px;
  font-weight: bold;
  @include for-size(md) {
    font-size: 30px;
  }
}

h5 {
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  @include for-size(md) {
    font-size: 24px;
  }
}

h6 {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  @include for-size(md) {
    font-size: 16px;
    line-height: 24px;
  }
}

b {
  font-weight: bold;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
