@import "@/styles/base.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 25px;
  @include for-size(md) {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  h1 {
    font-weight: bold;
    margin-bottom: 4px;
    width: fit-content;

    font-size: 32px;
    line-height: 44px;
    @include for-size(md) {
      font-size: 60px;
      line-height: 82px;
    }
  }

  h2 {
    margin-top: 50px;
    @include for-size(md) {
      margin-top: 100px;
    }
  }

  h3 {
    margin-top: 50px;
    margin-bottom: 32px;
    @include for-size(md) {
      margin-top: 80px;
      margin-bottom: 44px;
    }
  }

  .titleContainer {
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-size(md) {
      align-items: start;
      margin-bottom: 150px;
    }

    .title {
      @extend .gradient;
      font-size: 26px;
      line-height: 33px;
      @include for-size(md) {
        font-size: 60px;
        line-height: 82px;
        &::before {
          content: "— ";
        }
      }
    }
    .title.dark {
      @extend .gradient-dark;
    }
  }

  .background {
    position: absolute;
    z-index: 100;
    pointer-events: none;
    opacity: 0.8;
    height: 450px;
    width: 100%;
    left: 0;
    right: 0;
    top: -120px;
    @include for-size(md) {
      height: 650px;
      width: 1090px;
      top: 0;
      left: 0;
    }
    @include for-size(xxl) {
      left: 100px;
    }
  }
}
