@import "@/styles/colors.scss";

.cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .ctaText {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-right: 10px;
  }

  svg {
    transition: all 300ms ease;
  }

  &:hover {
    svg {
      transform: translateX(4px);
    }
  }
}
