.header {
  @apply container mx-auto;
  @apply py-12;
  @apply flex items-center;

  nav {
    @apply mr-auto;

    .link {
      @apply text-lg mr-12;

      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
    .active {
      @apply font-bold underline underline-offset-4;
    }
  }
}
