@import "@/styles/base.scss";

.container {
  height: 240px;
  margin-top: 32px;
  margin-bottom: 32px;
  overflow: hidden;
  @include for-size(md) {
    height: 400px;
    margin-top: 44px;
    margin-bottom: 44px;
  }

  .content {
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    will-change: transform;
    transform-style: preserve-3d;
    transition: all 50ms;
    left: 0;

    .slider {
      display: flex;
      margin-left: -200px;
    }
  }
}

.projectItem {
  height: 240px;
  width: 360px;
  background-color: $grey;
  border-radius: 10px;
  margin-right: 20px;
  flex-shrink: 0;
  @include for-size(md) {
    height: 400px;
    width: 600px;
  }
}
