@import "@/styles/colors.scss";

.container {
  height: 400px;
  margin-top: 44px;
  margin-bottom: 48px;
  overflow: hidden;

  .content {
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    will-change: transform;
    transform-style: preserve-3d;
    transition: all 50ms;
    left: 0;

    .slider {
      display: flex;
      margin-left: -200px;
    }
  }
}

.projectItem {
  height: 400px;
  width: 600px;
  background-color: $grey;
  border-radius: 10px;
  margin-right: 20px;
  flex-shrink: 0;
}
