.describe {
  font-size: 36px;
  font-weight: bold;

  .sticky {
    position: sticky;
    top: 300px;
  }

  .texts {
    display: inline-flex;
    flex-direction: column;
    margin-left: 50px;

    span {
      font-style: 36px;
      line-height: 54px;
      font-weight: bold;

      & + span {
        margin-top: 20px;
      }
    }
  }
}
