.describe {
  font-size: 36px;
  font-weight: bold;

  .sticky {
    position: sticky;
    top: 60px;
  }

  .texts {
    @apply inline-flex flex-col;
    margin-left: 50px;

    span {
      & + span {
        margin-top: 20px;
      }
    }
  }
}
