@import "@/styles/breakpoints.scss";
@import "@/styles/_variables.scss";

.describe {
  font-size: 32px;
  font-weight: bold;
  @include for-size(md) {
    font-size: 36px;
  }

  .sticky {
    display: block;
    position: sticky;
    width: 100%;
    top: 0;
    text-align: center;
    background-color: #fff;
    padding-top: 30px;
    box-shadow: rgb(255 255 255) 0px 22px 28px 4px;
    @include for-size(md) {
      display: inline;
      top: 300px;
      box-shadow: none;
      text-align: start;
      width: 342px;
      margin-right: 0;
    }
  }
  .sticky.dark {
    background-color: #000;
    box-shadow: rgb(0 0 0) 0px 22px 33px 4px;
  }

  .texts {
    display: inline-flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    @include for-size(md) {
      margin-left: 50px;
      margin-top: 0;
      width: auto;
    }

    span {
      font-size: 28px;
      line-height: 28px;
      font-weight: bold;
      text-align: center;
      @include for-size(md) {
        text-align: start;
        font-size: 36px;
        line-height: 54px;
      }

      & + span {
        margin-top: 20px;
      }
    }
  }
}
