@import "@/styles/colors.scss";

.main {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1,
  h3 {
    text-align: center;
  }

  h3 {
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 100px;
    b {
      font-weight: 500;
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
