@import "@/styles/base.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 50px;
  margin-bottom: 50px;
  @include for-size(md) {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  h1 {
    text-align: center;
  }

  h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 44px;
    margin-bottom: 56px;
    @include for-size(md) {
      font-size: 30px;
      line-height: 42px;
      margin-top: 80px;
      margin-bottom: 100px;
      &::after {
        content: " in Github";
      }
    }

    b {
      font-weight: 500;
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
