@import "@/styles/container.scss";

.footer {
  @extend .Container;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 48px;

  p {
    font-size: 18px;
    line-height: 28px;
    margin-right: auto;
  }

  .icons {
    display: flex;

    * + * {
      margin-left: 36px;
    }
  }
}
